<%i=0%>
<% @question.each do |question| %>
<h1>第<%=i+=1%>問</h1>
<%=question.problem%></br>
  <%= @choice.each do |choice| %>
  <%if(question.id == choice.question_id)%>
  <%= radio_button "question", "id", 'choice'%><%=choice.content%></br>
  <% end %>
  <% end %>
<% end %>
